<h1>Welcome to your home <%=@trainer.username%> </h1>

<h1>Please choose a starter pokemon</h1>  

<h2>Pokemon in Pokedex</h2>
<h3>  
  <ul>
    <% Pokemon.all.each.with_index(1) do |pokemon, index|%>
      <%=  "#{index}. #{pokemon["name"].capitalize}"  %>
      <img src="<%= pokemon[:sprite] %>" alt="" > <br>
    <%end%>
  </ul>
</h3>





<h3><label for="logout">Logout</label></h3><br>
<form action="/logout" method="POST">
<input type="submit" value="Get Me Outta Here">
</form>
<br>



<h3><label for="delete">Would you like to end your Pokemon Journey</label></h3><br>
<form action="/delete/<%= @trainer.id %>" method="POST">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Yoself">
</form>